<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings file="user.config">
      <add key="ServiceName" value="OperatingSystemAnalyst"/>
      <add key="ServiceDisplayName" value="OperatingSystemAnalyst"/>
      <add key="ServiceDescription" value="OperatingSystemAnalyst"/>
      <add key="InstanceName" value="OperatingSystemAnalyst"/>
      <add key="Role" value="primary"/>
    </appSettings>
</configuration>